.negrita{
    font-weight: bold;
}
.textoInicial{
    font-size:x-large;
    color: #5C8374;

}
.contenedor{
    border-radius: 8px;
    text-align: justify;
    background-color: #EEEEEE;
    padding: 10px;
    margin: 10px 0;
}
#barra{
    margin: 10px 0px;
    color: #9EC8B9;
}
#inicio{
    margin: 20px;
}
h1{
    text-align: center;
    color: #092635;
    background-color: #5C8374;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#1B4242;
}
p{
    margin-top: 0;
}